.work-stages {
  margin: 70px 0;
}

@media (max-width: 768px) {
  .work-stages {
    margin: 50px 0;
  }
}

.work-stages__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #323a45;
  margin-bottom: 60px;
}

.work-stages__repair-turbine {
  margin-bottom: 60px;
}

.work-stages__repair-without-turbine .repair__stages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.44fr 1fr;
  grid-template-columns: 1.44fr 1fr;
}

.work-stages__repair-without-turbine .repair__stages .repair__item {
  width: 100%;
}

@media (max-width: 768px) {
  .work-stages__repair-without-turbine .repair__stages .repair__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.work-stages__repair-without-turbine
  .repair__stages
  .repair__item:nth-child(1n + 3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-stages__repair-without-turbine
  .repair__stages
  .repair__item:nth-child(1n + 3)
  .repair__item-count {
  top: 16px;
}

.work-stages__repair-without-turbine
  .repair__stages
  .repair__item:nth-child(1n + 3)
  .repair__item-img {
  margin-bottom: 0;
}

.repair__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #323a45;
  margin-bottom: 50px;
}

.repair__stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.repair__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  border-radius: 6px;
  padding: 25px;
}

.repair__item-count {
  position: absolute;
  right: 25px;
  top: 36px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #e5e5e5;
}

.repair__item-img {
  margin-bottom: 30px;
  margin-right: 20px;
}

.repair__item-img img {
  max-width: 64px;
  width: 64px;
  height: 64px;
}

.repair__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #323a45;
  margin-bottom: 15px;
}

.repair__item-text,
.repair__item-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #676766;
}

.repair__item-list {
  padding-left: 30px;
}

.repair__item-list *:not(:last-child) {
  margin-bottom: 10px;
}

.repair__item-list-element {
  position: relative;
}

.repair__item-list-element:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -14px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #16b2da;
}

@media (max-width: 1080px) {
  .work-stages {
    padding: 0 40px;
  }

  .repair__item {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 768px) {
  .work-stages__repair-without-turbine .repair__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .work-stages__repair-turbine {
    margin-bottom: 50px;
  }

  .work-stages__title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .repair__title {
    margin-bottom: 40px;
    font-size: 28px;
  }

  .work-stages__repair-without-turbine .repair__stages {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .repair__stages {
    row-gap: 30px;
  }

  .repair__item {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .repair__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .work-stages {
    padding: 0 35px;
  }

  .repair__item-title {
    margin-bottom: 10px;
  }

  .work-stages__repair-turbine {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .work-stages {
    padding: 0 20px;
  }
}

@media (max-width: 425px) {
  .repair__item,
  .work-stages__repair-without-turbine .repair__stages .repair__item {
    display: block;
  }

  .work-stages__repair-without-turbine
    .repair__stages
    .repair__item:nth-child(1n + 3) {
    display: block;
  }
}

@media (max-width: 380px) {
  .work-stages__title {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 30px;
  }

  .repair__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 30px;
  }

  .repair__item-img {
    margin-bottom: 10px;
  }

  .repair__stages {
    row-gap: 20px;
  }
}
