.price {
  margin: 70px 0;
}

@media (max-width: 768px) {
  .price {
    margin: 50px 0;
  }
}

@media (max-width: 1080px) {
  .price__content {
    padding: 0 40px;
  }
}

@media (max-width: 500px) {
  .price__content {
    padding: 0 20px;
  }
}

.price__title {
  font-weight: 700;
  font-size: 36px;
  color: #323a45;
  text-align: left;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .price__title {
    font-size: 32px;
  }
}

@media (max-width: 380px) {
  .price__title {
    font-size: 26px;
  }
}

.price__table {
  width: 100%;
}

.price__table tr {
  padding: 14px 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.price__table tr:nth-child(odd) {
  background-color: #f0f0f0;
  border-radius: 6px;
}

.price__table td:first-child {
  font-size: 16px;
  line-height: 150%;
}

.price__table td:last-child {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: 576px) {
  .price__table td:last-child {
    white-space: nowrap;
    margin-left: 30px;
  }
}