.payment {
  margin: 70px 0;
}

@media (max-width: 768px) {
  .payment {
    margin: 50px 0;
  }
}

@media (max-width: 1080px) {
  .payment__content {
    padding: 0 40px;
  }
}

@media (max-width: 500px) {
  .payment__content {
    padding: 0 20px;
  }
}

.payment__title {
  font-weight: 700;
  font-size: 36px;
  color: #323a45;
  margin-bottom: 50px;
}

@media (max-width: 840px) {
  .payment__title {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .payment__title {
    font-size: 26px;
    margin-bottom: 40px;
  }
}

.payment__background {
  background: #f9f9f9;
  border-radius: 6px;
  padding: 30px;
}

@media (max-width: 500px) {
  .payment__background {
    padding: 20px;
  }
}

.payment__subtitle {
  font-size: 18px;
  line-height: 140%;
  color: #323a45;
}

@media (max-width: 500px) {
  .payment__subtitle {
    font-size: 16px;
  }
}

.payment__methods {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin-top: 50px;
}

@media (max-width: 755px) {
  .payment__methods {
    margin-top: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    row-gap: 30px;
  }
}

@media (max-width: 500px) {
  .payment__methods {
    margin-top: 30px;
  }
}

.payment__method {
  padding: 24px;
  border: 1px solid #eeeeee;
  border-radius: 6px;
}

@media (max-width: 755px) {
  .payment__method {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.payment__image {
  max-width: 64px;
  min-width: 64px;
  height: 64px;
}

.payment__image img {
  width: 100%;
  height: 100%;
}

.payment__method-text {
  font-size: 16px;
  line-height: 150%;
  color: #676766;
  margin-top: 20px;
}

@media (max-width: 755px) {
  .payment__method-text {
    margin-top: 0;
    margin-left: 20px;
  }
}

.payment__attention {
  padding: 18px 20px;
  background: #16b2da;
  border-radius: 6px;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 70px;
}

@media (max-width: 840px) {
  .payment__attention {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

.payment__heading-wrapper {
  margin-bottom: 40px;
}

@media (max-width: 840px) {
  .payment__heading-wrapper {
    margin-bottom: 50px;
  }
}

.payment__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #323a45;
}

@media (max-width: 500px) {
  .payment__heading {
    font-size: 20px;
  }
}

.payment__text {
  font-size: 16px;
  line-height: 150%;
  color: #676766;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .payment__text {
    font-size: 15px;
  }
}

.payment__points {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 140%;
  color: #676766;
}

@media (max-width: 755px) {
  .payment__points {
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .payment__points {
    font-size: 15px;
  }
}

.payment__points li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.payment__points li:not(:first-child) {
  margin-top: 20px;
}

@media (max-width: 500px) {
  .payment__points li:not(:first-child) {
    margin-top: 10px;
  }
}

.payment__point {
  min-width: 4px;
  max-width: 4px;
  height: 4px;
  background-color: #16b2da;
  border-radius: 50%;
  margin-right: 10px;
}

.advantages {
  margin-top: 50px;
}

@media (max-width: 500px) {
  .advantages {
    margin-top: 30px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #323a45;
  margin-bottom: 50px;
}

.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

@media (max-width: 840px) {
  .advantages__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    row-gap: 30px;
  }
}

.advantages__item {
  padding: 24px;
  border: 1px solid #eeeeee;
  border-radius: 6px;
}

@media (max-width: 840px) {
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.advantages__image {
  max-width: 24px;
  min-width: 24px;
  height: 24px;
}

.advantages__image img {
  max-width: 100%;
  height: 100%;
}

.advantages__text {
  font-size: 16px;
  line-height: 150%;
  color: #676766;
  margin-top: 20px;
}

@media (max-width: 840px) {
  .advantages__text {
    margin-top: 0;
    margin-left: 20px;
  }
}

.payment__content .advantages__list {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
  row-gap: 0px;
  background: #f9f9f9;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 24px;
}

.payment__content .advantages__item {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
}

.payment__content .advantages__item:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

.payment__content .advantages__text {
  margin-top: 0;
  margin-left: 20px;
}
