@font-face {
	font-family: 'Circe Rounded'; 
	src: url(../assets/fonts/CirceRounded.ttf);
	font-weight: 400; 
}

@font-face {
	font-family: 'Circe Rounded'; 
	src: url(../assets/fonts/CirceRoundedBold.ttf); 
	font-weight: 700;
}

