@use 'variables' as v;
@use 'fonts';
@use 'typography';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    font-family: "Circe Rounded";
    font-weight: 400;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

strong {
    font-weight: bold;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.show {
    display: block !important;
}

.no-overflow {
    overflow: hidden;
}

[class*="container"] {
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        max-width: 980px;
    }

    @media (max-width: 960px) {
        max-width: 600px;
    }
}

[class*="button"] {
    padding: 20px 40px;
    background: v.$red;
    border-radius: 5px;
    width: fit-content;
    text-transform: uppercase;
    color: v.$white;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    cursor: pointer;
}

[class*="content"] {
    padding: 0 20px;
}

