@use '../variables' as v;

.burger-menu {
    position: fixed;
    width: 100vw;
    display: flex;
    background-color: v.$white;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    z-index: 10;

    &_active {
        visibility: visible;
        opacity: 1;
    }

    &__nav {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .nav-link {
            text-align: center;
        }
    }
}