@use '../variables' as v;

.info {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 45px;
}

.info__statistics {
    margin-bottom: 30px;
}

.statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.statistics__item {
    max-width: 360px;
    width: 100%;
}

.statistics__count {
    color: v.$dark-blue;
    font-size: 52px;
    line-height: 1.23;
    text-align: center;
    font-weight: 700;
}

.statistics__separator {
    border-top: 1px solid v.$black;
    opacity: 0.2;
    margin-top: 14px;
    margin-bottom: 14px;
}

.statistics__name {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.55;
}

.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.services__item {
    max-width: 360px;
    width: 100%;
    background-color: v.$dark-blue;
    padding: 40px 25px 55px 25px;
}

.services__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.services__image {
    width: 100px;
    height: 100px;
}

.services__image img {
    width: 100%;
    height: 100%;
}

.services__title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.35;
    color: v.$white;
    margin-top: 30px;
    margin-bottom: 25px;
}

.services__text {
    font-size: 20px;
    line-height: 25px;
    color: v.$white;
    text-align: center;
    width: 100%;
}

@media (max-width: 1200px) {
    .statistics__item {
        max-width: 300px;
    }

    .services__item {
        max-width: 300px;
    }
}

@media (max-width: 960px) {
    .statistics {
        display: block;
    }

    .statistics__item {
        max-width: unset;
    }

    .statistics__item:not(:last-child) {
        margin-bottom: 40px;
    }

    .services {
        display: block;
    }

    .services__item {
        max-width: unset;
    }

    .services__item:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (max-width: 640px) {
    .statistics__count {
        font-size: 30px;
    }

    .statistics__name {
        font-size: 16px;
        line-height: 1.45;
    }
}