@use '../variables' as v;

.marquee-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    padding: 15px 0;
    background-color: v.$blue;
    margin-top: 40px;

    .items {
        flex-shrink: 0;
        display: flex;
        counter-reset: item;
        justify-content: space-around;
        align-items: center;
        min-width: 100%;
    }
}

.marquee {
    animation: scroll 45s linear infinite;

    .item {
        flex: 0 0 auto;
        font-size: 20px;
        color: v.$white;
        margin: 0 10px;
        transition: all 0.1s ease-in-out;
    }
}

.reverce {
    animation-direction: reverse;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}