.feedback {
    margin: 120px 0 70px;

    @media (max-width: 768px) {
        margin: 120px 0 50px;
    }

    &__content {
        width: 100%;
        display: flex;

        @media (max-width: 1140px) {
            display: block;
        }
    }

    &__main {
        width: 570px;
        background: #008DB1;
        border-radius: 6px 0px 0px 6px;
        padding: 40px;

        @media (max-width: 1140px) {
            width: 100%;
            border-radius: 0px 0px 6px 6px;
        }

        @media (max-width: 680px) {
            padding: 30px;
        }
    }

    &__text-wrapper {
        @media (max-width: 1140px) {
            display: none;
        }
    }

    &__text-wrapper_invisible {
        display: none;

        @media (max-width: 1140px) {
            display: block;
        }

        @media (max-width: 680px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__stock {
        width: fit-content;
        padding: 10px 20px;
        background-color: #FFFFFF;
        border-radius: 6px;
        color: #323A45;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;

        @media (max-width: 1140px) {
            background: #DF3131;
            color: #FFFFFF;

        }

        @media (max-width: 900px) {
            font-size: 14px;
        }

        @media (max-width: 680px) {
            font-size: 13px;
        }

        
        @media (max-width: 500px) {
            font-size: 12px;
        }
    }

    &__title {
        margin-top: 30px;
        font-size: 40px;
        line-height: 130%;
        color: #FFFFFF;
        font-weight: 700;
        letter-spacing: 2px;

        @media (max-width: 1140px) {
            margin-top: 20px;
            color: #323A45;
        }

        @media (max-width: 900px) {
            font-size: 34px;
            line-height: 120%;
        }

        @media (max-width: 680px) {
            font-size: 28px;
        }

        @media (max-width: 500px) {
            font-size: 20px;
            margin-top: 10px;
        }
    }

    &__form {
        margin-top: 35px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        @media (max-width: 1140px) {
            margin-top: 0;
        }

        @media (max-width: 500px) {
            display: block;
        }
    }

    &__name,
    &__phone {
        width: 230px;
        padding: 18px 20px 18px 24px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        border-radius: 4px;

        @media (max-width: 1140px) {
            width: 100%;
            max-width: 45%;
            max-width: calc((100% - 40px) / 2)
        }

        @media (max-width: 500px) {
            max-width:100%;
        }
    }

    &__phone {
        @media (max-width: 500px) {
            margin-top: 20px;
        }
    }

    &__name::placeholder,
    &__phone::placeholder {
        font-size: 15px;
        line-height: 160%;
        color: #666666;
    }

    &__button-wrapper {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1140px) {
            justify-content: unset;
            column-gap: 40px;
        }

        @media (max-width: 500px) {
            display: block;
            margin-top: 20px;
        }
    }

    &__agreement {
        width: 230px;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 140%;

        &_yelow {
            color: #FDC900;
        }

        @media (max-width: 1140px) {
            width: 100%;
            max-width: 45%;
            max-width: calc((100% - 40px) / 2)
        }

        @media (max-width: 500px) {
            max-width: 100%;
        }
    }

    &__button {
        background: #FDC900;
        border-radius: 6px;
        padding: 18px 40px;
        width: 230px;
        color: #323A45;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        font-weight: 700;

        @media (max-width: 1140px) {
            width: 100%;
            max-width: 45%;
            max-width: calc((100% - 40px) / 2)
        }

        @media (max-width: 500px) {
            max-width: 100%;
            margin-top: 20px;
        }
    }

    &__image-block {
        width: 430px;
        background: #EEEEEE;
        border-radius: 0px 300px 6px 0px;

        @media (max-width: 1140px) {
            display: none;
        }
    }

    &__image-block_invisible {
        display: none;

        @media (max-width: 1140px) {
            display: flex;
            background: #EEEEEE;
            border-radius: 6px 70px 0px 0px;
            padding: 30px 60px 30px 30px;
            height: 230px;
        }

        @media (max-width: 900px) {
            height: 200px;
        }

        @media (max-width: 680px) {
            height: 180px;
            padding: 15px 40px 15px 30px;
        }

        @media (max-width: 500px) {
            height: 135px;
            padding: 15px 20px 15px 30px;
            align-items: center;
        }
    }

    &__image {
        position: absolute;
        width: 500px;

        @media (max-width: 1140px) {
            position: relative;
            max-width: 250px;
            min-width: 250px;
        }

        @media (max-width: 900px) {
            max-width: 220px;
            min-width: 220px;
        }

        @media (max-width: 680px) {
            min-width: 130px;
            max-width: unset;
            width: unset;
            margin-right: 20px;
        }

        @media (max-width: 500px) {
            min-width: 74px;
            max-width: 74px;
            margin-right: 10px;
            height: 88px;
        }
    }

    &__image img {
        position: relative;
        bottom: 100px;
        left: 17px;

        @media (max-width: 1140px) {
            position: absolute;
            bottom: 0;
            left: 0;
            top: -80px;
        }

        @media (max-width: 680px) {
            position: static;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/*Khdflghnjdfngljkd*/