.payment {
    margin: 70px 0;

    @media (max-width: 768px) {
        margin: 50px 0;
    }

    &__content {
        @media (max-width: 1080px) {
            padding: 0 40px;
        }

        @media (max-width: 500px) {
            padding: 0 20px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        color: #323A45;
        margin-bottom: 50px;

        @media (max-width: 840px) {
            font-size: 32px;
        }

        @media (max-width: 500px) {
            font-size: 26px;
            margin-bottom: 40px;
        }
    }

    &__background {
        background: #F9F9F9;
        border-radius: 6px;
        padding: 30px;

        @media (max-width: 500px) {
            padding: 20px;
        }
    }

    &__subtitle {
        font-size: 18px;
        line-height: 140%;
        color: #323A45;

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }

    &__methods {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        margin-top: 50px;

        @media (max-width: 755px) {
            margin-top: 40px;
            grid-template-columns: 1fr;
            column-gap: 0px;
            row-gap: 30px;
        }

        @media (max-width: 500px) {
            margin-top: 30px;
        }
    }

    &__method {
        padding: 24px;
        border: 1px solid #EEEEEE;
        border-radius: 6px;

        @media (max-width: 755px) {
            display: flex;
            align-items: center;
        }
    }

    &__image {
        max-width: 64px;
        min-width: 64px;
        height: 64px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__method-text {
        font-size: 16px;
        line-height: 150%;
        color: #676766;
        margin-top: 20px;

        @media (max-width: 755px) {
            margin-top: 0px;
            margin-left: 20px;
        }
    }

    &__attention {
        padding: 18px 20px;
        background: #16B2DA;
        border-radius: 6px;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
        margin-top: 50px;
        margin-bottom: 70px;

        @media (max-width: 840px) {
            margin-top: 40px;
            margin-bottom: 50px;
        }
    }

    &__heading-wrapper {
        margin-bottom: 40px;

        @media (max-width: 840px) {
            margin-bottom: 50px;
        }
    }
    
    &__heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: #323A45;

        @media (max-width: 500px) {
            font-size: 20px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 150%;
        color: #676766;
        margin-top: 20px;

        @media (max-width: 500px) {
            font-size: 15px;
        }
    }

    &__points {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 140%;
        color: #676766;

        @media (max-width: 755px) {
            margin-bottom: 50px;
        }

        @media (max-width: 500px) {
            font-size: 15px;
        }

        li {
            display: flex;
            align-items: center;
        }

        li:not(:first-child) {
            margin-top: 20px;

            @media (max-width: 500px) {
                margin-top: 10px;
            }
        }
    }

    &__point {
        min-width: 4px;
        max-width: 4px;
        height: 4px;
        background-color: #16B2DA;
        border-radius: 50%;
        margin-right: 10px;
    }
}