.work-stages {
	margin: 70px 0;

    @media (max-width: 768px) {
        margin: 50px 0;
    }

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		color: #323A45;
		margin-bottom: 60px;
	}

	&__repair-turbine {
		margin-bottom: 60px;
	}

	&__repair-without-turbine {
		& .repair__stages {
			display: grid;
			grid-template-columns: 1.44fr 1fr;

			.repair__item {
				width: 100%;

				@media (max-width: 768px) {
					display: flex;
				}
			}

			.repair__item:nth-child(1n + 3) {
				display: flex;
				align-items: center;

				.repair__item-count {
					top: 16px;
				}

				.repair__item-img {
					margin-bottom: 0;
				}
			}
		}
	}
}

.repair {

	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 35px;
		color: #323A45;
		margin-bottom: 50px;
	}

	&__stages {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
	}

	&__item {
		position: relative;
		width: calc((100% - 60px) / 3);
		border: 1px solid #EEEEEE;
		border-radius: 6px;
		padding: 25px;
	}

	&__item-count {
		position: absolute;
		right: 25px;
		top: 36px;
		font-weight: 700;
		font-size: 40px;
		line-height: 100%;
		color: #E5E5E5;
	}

	&__item-img {
		margin-bottom: 20px;
		margin-right: 20px;


		img {
			max-width: 64px;
			width: 64px;
			height: 64px;
		}
	}

	&__item-title {
		font-weight: 700;
		font-size: 20px;
		line-height: 140%;
		color: #323A45;
		margin-bottom: 15px;
	}

	&__item-text,
	&__item-list {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;

		color: #676766;
	}

	&__item-list {
		padding-left: 30px;

		& *:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__item-list-element {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 10px;
			left: -14px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #16B2DA;
		}
	}
}

@media (max-width: 1080px) {

	.work-stages {
		padding: 0 40px;
	}

	.repair__item {
		width: calc((100% - 30px) / 2);
	}
}

@media (max-width: 768px) {

	.work-stages__repair-without-turbine .repair__item {
		display: flex;
	}

	.work-stages__repair-turbine {
		margin-bottom: 50px;
	}

	.work-stages__title {
		font-size: 32px;
		margin-bottom: 40px;
	}

	.repair__title {
		margin-bottom: 40px;
		font-size: 28px;
	}

	.work-stages__repair-without-turbine .repair__stages {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 700px) {

	.repair__stages {
		row-gap: 30px;
	}

	.repair__item {
		width: 100%;
	}
}

@media (max-width: 576px) {

	.repair__item {
		display: flex;
	}

	.work-stages {
		padding: 0 35px;
	}

	.repair__item-title {
		margin-bottom: 10px;
	}

	.work-stages__repair-turbine {
		margin-bottom: 40px;
	}
}

@media (max-width: 500px) {
    .work-stages {
		padding: 0 20px;
	}
}

@media (max-width: 425px) {

	.repair__item {
		display: block;
	}

	.work-stages__repair-without-turbine .repair__stages .repair__item {
		display: block;
	}

	.work-stages__repair-without-turbine .repair__stages .repair__item:nth-child(1n+3) {
		display: block;
	}
}

@media (max-width: 380px) {

	.work-stages__title {
		margin-bottom: 30px;
		font-size: 26px;
		line-height: 30px;
	}

	.repair__title {
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 30px;
	}

	.repair__item-img {
		margin-bottom: 10px;
	}

	.repair__stages {
		row-gap: 20px;
	}
}