@use '../variables' as v;

.event {
    margin: 100px 0;
    
    @media (max-width: 570px) {
        margin: 0;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        justify-content: space-between;
        background: v.$dim-red;
        border-radius: 0px 0px 20px 20px;
        padding: 30px 30px 40px;

        @media (max-width: 570px) {
            border-radius: 0;
            padding: 30px 20px 40px;
        }
    }

    &__image {
        max-width: 940px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__text {
        text-align: center;
        width: 100%;
    }
}

.participants {
    margin-top: 20px;
    width: 100%;

    &__title {
        margin-bottom: 15px;
    }

    &__list {
        margin-bottom: 80px;

        @media (max-width: 900px) {
            margin-bottom: 65px;
        }

        @media (max-width: 710px) {
            margin-bottom: 50px;
        }

        @media (max-width: 570px) {
            margin-bottom: 30px;
        }
    }

    &__item {
        margin-bottom: 10px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media (max-width: 710px) {
            display: block;
        }
    }

    &__download {
        text-decoration-line: underline;
        cursor: pointer;
        transition: all 0.4s;
        margin-right: 15px;

        @media (max-width: 710px) {
            text-align: center;
            margin-bottom: 15px;
        }
    }

    &__download:hover {
        transform: scale(0.95);
    }

    &__gallery {
        width: 280px;
        padding: 20px 0;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
        transition: all 0.4s;

        @media (max-width: 710px) {
            margin: 0 auto;
        }
    }

    &__gallery:hover {
        transform: scale(0.95);
    }
}