.feedback {
  margin: 70px 0;
  margin-top: 120px;
  padding: 0 40px;
}

@media (max-width: 500px) {
  .feedback {
    margin: 50px 0;
    padding: 0 20px;
  }
}

.feedback__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1140px) {
  .feedback__content {
    display: block;
  }
}

.feedback__main {
  width: 570px;
  background: #008db1;
  border-radius: 6px 0 0 6px;
  padding: 40px;
}

@media (max-width: 1140px) {
  .feedback__main {
    width: 100%;
    border-radius: 0 0 6px 6px;
  }
}

@media (max-width: 680px) {
  .feedback__main {
    padding: 30px;
  }
}

@media (max-width: 1140px) {
  .feedback__text-wrapper {
    display: none;
  }
}

.feedback__text-wrapper_invisible {
  display: none;
}

@media (max-width: 1140px) {
  .feedback__text-wrapper_invisible {
    display: block;
  }
}

@media (max-width: 680px) {
  .feedback__text-wrapper_invisible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.feedback__stock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 6px;
  color: #323a45;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

@media (max-width: 1140px) {
  .feedback__stock {
    background: #df3131;
    color: #fff;
  }
}

@media (max-width: 900px) {
  .feedback__stock {
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  .feedback__stock {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .feedback__stock {
    font-size: 12px;
    padding: 8px 12px;
  }
}

.feedback__title {
  margin-top: 30px;
  font-size: 40px;
  line-height: 130%;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}

@media (max-width: 1140px) {
  .feedback__title {
    margin-top: 20px;
    color: #323a45;
  }
}

@media (max-width: 900px) {
  .feedback__title {
    font-size: 34px;
    line-height: 120%;
  }
}

@media (max-width: 730px) {
  .feedback__title {
    font-size: 28px;
  }
}

@media (max-width: 530px) {
  .feedback__title {
    font-size: 20px;
    margin-top: 10px;
  }
}

.feedback__form {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 1140px) {
  .feedback__form {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .feedback__form {
    display: block;
  }
}

.feedback__name,
.feedback__phone {
  width: 230px;
  padding: 18px 20px 18px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

@media (max-width: 1140px) {
  .feedback__name,
  .feedback__phone {
    width: 100%;
    max-width: 45%;
    max-width: calc((100% - 40px) / 2);
  }
}

@media (max-width: 500px) {
  .feedback__name,
  .feedback__phone {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .feedback__phone {
    margin-top: 20px;
  }
}

.feedback__name::-webkit-input-placeholder,
.feedback__phone::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 160%;
  color: #666;
}

.feedback__name::-moz-placeholder,
.feedback__phone::-moz-placeholder {
  font-size: 15px;
  line-height: 160%;
  color: #666;
}

.feedback__name:-ms-input-placeholder,
.feedback__phone:-ms-input-placeholder {
  font-size: 15px;
  line-height: 160%;
  color: #666;
}

.feedback__name::-ms-input-placeholder,
.feedback__phone::-ms-input-placeholder {
  font-size: 15px;
  line-height: 160%;
  color: #666;
}

.feedback__name::placeholder,
.feedback__phone::placeholder {
  font-size: 15px;
  line-height: 160%;
  color: #666;
}

.feedback__button-wrapper {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 1140px) {
  .feedback__button-wrapper {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
}

@media (max-width: 500px) {
  .feedback__button-wrapper {
    display: block;
    margin-top: 20px;
  }
}

.feedback__agreement {
  width: 230px;
  color: #fff;
  font-size: 14px;
  line-height: 140%;
}

.feedback__agreement_yelow {
  color: #fdc900;
}

@media (max-width: 1140px) {
  .feedback__agreement {
    width: 100%;
    max-width: 45%;
    max-width: calc((100% - 40px) / 2);
  }
}

@media (max-width: 500px) {
  .feedback__agreement {
    max-width: 100%;
  }
}

.feedback__button {
  background: #fdc900;
  border-radius: 6px;
  padding: 18px 40px;
  width: 230px;
  color: #323a45;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 1140px) {
  .feedback__button {
    width: 100%;
    max-width: 45%;
    max-width: calc((100% - 40px) / 2);
  }
}

@media (max-width: 500px) {
  .feedback__button {
    max-width: 100%;
    margin-top: 20px;
  }
}

.feedback__image-block {
  width: 430px;
  background: #eeeeee;
  border-radius: 0 300px 6px 0;
}

@media (max-width: 1140px) {
  .feedback__image-block {
    display: none;
  }
}

.feedback__image-block_invisible {
  display: none;
}

@media (max-width: 1140px) {
  .feedback__image-block_invisible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #eeeeee;
    border-radius: 6px 70px 0 0;
    padding: 30px 60px 30px 30px;
    height: 230px;
  }
}

@media (max-width: 900px) {
  .feedback__image-block_invisible {
    height: 200px;
  }
}

@media (max-width: 680px) {
  .feedback__image-block_invisible {
    height: 180px;
    padding: 15px 40px 15px 30px;
  }
}

@media (max-width: 500px) {
  .feedback__image-block_invisible {
    height: 135px;
    padding: 15px 20px 15px 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.feedback__image {
  position: absolute;
  width: 500px;
}

@media (max-width: 1140px) {
  .feedback__image {
    position: relative;
    max-width: 250px;
    min-width: 250px;
  }
}

@media (max-width: 900px) {
  .feedback__image {
    max-width: 220px;
    min-width: 220px;
  }
}

@media (max-width: 680px) {
  .feedback__image {
    min-width: 130px;
    max-width: unset;
    width: unset;
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .feedback__image {
    min-width: 74px;
    max-width: 74px;
    margin-right: 10px;
    height: 88px;
  }
}

.feedback__image img {
  position: relative;
  bottom: 100px;
  left: 17px;
}

@media (max-width: 1140px) {
  .feedback__image img {
    position: absolute;
    bottom: 0;
    left: 0;
    top: -80px;
  }
}

@media (max-width: 680px) {
  .feedback__image img {
    position: static;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
