.simple-text {
  margin: 70px 0;
}

@media (max-width: 768px) {
  .simple-text {
    margin: 50px 0;
  }
}

.simple-text__content {
  width: 100%;
}
@media (max-width: 1080px) {
  .simple-text__content {
    padding: 0 40px;
  }
}
@media (max-width: 500px) {
  .simple-text__content {
    padding: 0 20px;
  }
}
.simple-text__title {
  font-weight: 700;
  font-size: 36px;
  color: #323a45;
  margin-bottom: 40px;
}
@media (max-width: 840px) {
  .simple-text__title {
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .simple-text__title {
    font-size: 26px;
    margin-bottom: 30px;
  }
}
.simple-text__text {
  font-size: 16px;
  line-height: 150%;
  color: #676766;
}
@media (max-width: 500px) {
  .simple-text__text {
    font-size: 15px;
  }
}
.simple-text__points {
  padding-left: 10px;
  margin-top: 50px;
  font-size: 16px;
  line-height: 140%;
  color: #323a45;
}
@media (max-width: 576px) {
  .simple-text__points {
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  .simple-text__points {
    margin-top: 30px;
  }
}
.simple-text__points li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.simple-text__points li:not(:first-child) {
  margin-top: 20px;
}
@media (max-width: 500px) {
  .simple-text__points li:not(:first-child) {
    margin-top: 10px;
  }
}
.simple-text__point {
  min-width: 4px;
  max-width: 4px;
  height: 4px;
  background-color: #16b2da;
  border-radius: 50%;
  margin-right: 10px;
}
.simple-text__background {
  margin-top: 50px;
  background: #f9f9f9;
  border-radius: 6px;
  padding: 30px;
}
@media (max-width: 500px) {
  .simple-text__background {
    margin-top: 30px;
  }
}
.simple-text__background .simple-text__text {
  color: #323a45;
}
.advantages {
  margin-top: 50px;
}
@media (max-width: 500px) {
  .advantages {
    margin-top: 30px;
  }
}
.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #323a45;
  margin-bottom: 50px;
}
.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
@media (max-width: 840px) {
  .advantages__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    row-gap: 30px;
  }
}
.advantages__item {
  padding: 24px;
  border: 1px solid #eeeeee;
  border-radius: 6px;
}
@media (max-width: 840px) {
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.advantages__text {
  font-size: 16px;
  line-height: 150%;
  color: #676766;
  margin-top: 20px;
}
@media (max-width: 840px) {
  .advantages__text {
    margin-top: 0;
    margin-left: 20px;
  }
}
