@use './variables' as v;

.block-title {
    font-weight: 500;
    font-size: 32px;
    color: v.$white;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.general__year, .general__month {
    font-weight: 500;
    font-size: 32px;
    display: flex;
    color: v.$dark-dim-red;

    @media (max-width: 420px) {
        font-size: 24px;
    }
}

.general__day {
    font-weight: 500;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: v.$green;

    @media (max-width: 420px) {
        font-size: 20px;
    }
}

.general__events-count {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: v.$white;

    @media (max-width: 420px) {
        font-size: 8px;
    }
}

.general__day_active {
    color: v.$white;
}

.general__download {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: v.$black;
}

.event-list__time {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: v.$green;
}

.event-list__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: v.$dim-black;
}

.event-list__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: v.$black;
}

.event-list__button {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: v.$white;
    cursor: pointer;
}

.event-list__download {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: v.$black;
}

.event__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: v.$black;

    
    @media (max-width: 570px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.participants__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: v.$black;
}

.participants__download {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: v.$black;
}

.participants__gallery {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: v.$dim-black;
}

.date-select__item {
    font-size: 26px;
    color: v.$dark-dim-red;
}

.date-select__item:hover {
    color: v.$dark-grin;
}

.add-event__title {
    font-weight: 500;
    font-size: 32px;
    color: v.$dim-black;
}

.add-event__subtitle {
    font-weight: 500;
    font-size: 26px;
    color: v.$dim-black;
}

.header__nav {
    font-size: 22px;
    color: v.$white;
    font-weight: 700;
    text-shadow: 0.5px 1px v.$black;

    @media (max-width: 768px) {
        font-size: 20px;
    }
}