.popup {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
  border-radius: 20px;
  overflow-y: overlay;
  display: none;
  z-index: 5;
}

.popup__content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px 60px 30px;
}

.popup__content .example__breakdown-text {
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: unset;
  margin-top: 20px;
  font-size: 16px;
  line-height: 150%;
  color: #676766;
}

@media (max-width: 700px) {
  .popup__content {
    padding: 50px 40px 30px;
  }
}

@media (max-width: 500px) {
  .popup__content {
    padding: 50px 20px 30px;
  }
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 27px;
  width: 27px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.7;
}

.popup__close-line1,
.popup__close-line2 {
  position: relative;
  width: 27px;
  height: 1.5px;
  background: #c4c4c4;
  border-radius: 2px;
}

.popup__close-line1 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12px;
}

.popup__close-line2 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10px;
}

.popup__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #323a45;
}

.popup__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 150%;
  color: #676766;
}
